.result-window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 840px) { 
    .result-window { 
        padding: 5%;
    }
    .result-window h1 {
        text-align: center !important;
    }
    .result-window div {
        text-align: center !important;
    }
    .result-window button {
        margin: 1em 0 !important;
    }
}